.nav {

  &__wrapper {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  &__menu {
    cursor: pointer;
    width: 2rem; /* 32px */
    height: 1.125rem; /* 18px */
  }
  
  &__close-menu {
    width: 1.5rem; /* 24px */
    align-self: end;
    cursor: pointer;
  }

  &__items-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background: $background;
    position: fixed;
    right: -100%;
    top: 0;
    z-index: 100;
    height: 100vh;
    width: 70%;
    max-width: 22.5rem; /* 360px */
    padding: 1rem 2rem;
    color: $secondary;
    font-weight: 500;
    transition: right 0.15s;
  }

  .display-nav {
    right: 0;
  }

  &__item {
    cursor: pointer;
  }

  #toggle-subitems {
    margin-left: 0.25rem; /* 0.4rem rounded to 0.25rem for simplicity */
    width: 0.8rem;
    transition: transform 0.25s;
  }

  .upside-down {
    transform: rotate(180deg);
  }

  
  &__subitems-container {
    display: none;
    padding: 2rem 0 0 2rem;
    gap: 1.5rem;
    flex-direction: column;
  }

  .show-subitems {
    display: flex;
  }
  
  &__subitem-wrapper {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__item-buttons {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__button {
    @include btn;
    border-width: 0.125rem; /* 2px */
    border-color: $secondary;
    background-color: $background;
    color: $secondary;
    cursor: pointer;
  }

  #login-btn {
    border: none;
  }
}
